@charset "IBM437";
/* main.css */
html, body {
  height: 100%; }

/* ============ Mixins ================*/
/* VARIABLES */
/*==========GENERAL==================*/
a:hover {
  text-decoration: none; }

ul, ol, li {
  list-style-type: none; }

/*=========Typography================*/
body {
  min-width: 320px;
  font-family: "Futura-Light", Futura-Medium Futura-Book, Futura-Bold, Arial, sans-serif;
  font-size: 16px;
  background-color: #FDFDFD; }
  body a {
    color: #369400; }
    body a:hover {
      color: #262626; }

h1, h2, h3, h4, h5, h6 {
  line-height: 1.2;
  font-family: "Futura-Book", Arial, sans-serif; }
  h1 small, h2 small, h3 small, h4 small, h5 small, h6 small {
    font-family: 'Futura-Light';
    color: #999999; }

h1 {
  font-size: 48px;
  text-align: center; }

h2 {
  font-size: 40px;
  text-align: center; }

h3 {
  font-size: 28px; }

h4 {
  font-size: 21px; }

h5 {
  font-size: 18px; }

h6 {
  font-size: 14px;
  color: #999999; }

p {
  font-size: 16px; }

/*=============Header===========*/
.main-header {
  z-index: 492;
  position: relative;
  background-color: white; }
  .main-header .container {
    width: 100%; }
  .main-header .logo img {
    height: 120px; }
  .main-header .logo-icon {
    height: 0; }

.main-header-wrap {
  /*position: fixed;
  top:0;
  left: 0;
  width: 100%;*/
  background-color: white; }

.stuck {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  background-color: white; }
  .stuck .logo-icon {
    -webkit-transition: all 0.2s ease-in;
    -moz-transition: all 0.2s ease-in;
    -o-transition: all 0.2s ease-in;
    transition: all 0.2s ease-in;
    height: 55px; }
    .stuck .logo-icon img {
      float: left; }

nav {
  text-align: center;
  /* border-bottom: 1px solid $gray-color; */ }
  nav ul {
    margin-left: 0px;
    margin-bottom: 0px; }
    nav ul li {
      display: inline-block;
      text-transform: uppercase;
      font-family: 'Futura-Medium';
      font-size: 12px;
      margin: 0 35px;
      height: 55px;
      line-height: 55px;
      padding-bottom: 5px; }
      nav ul li:hover {
        border-bottom: 2px solid #369400; }
      nav ul li a {
        color: #666666; }
        nav ul li a:hover {
          color: #071500;
          font-weight: normal; }

/*==============Main Content===========*/
.section-block {
  padding: 100px 0 150px;
  border-bottom: 1px solid #f1f1f1;
  background-color: #FDFDFD; }
  .section-block .section-title {
    font-size: 64px;
    margin-bottom: 1em; }
    .section-block .section-title small {
      display: block;
      font-size: 20px; }

.first-block {
  padding: 20px 0 100px; }

.check-list li {
  list-style: none;
  display: list-item;
  text-align: -webkit-match-parent; }
  .check-list li:before {
    content: '✓';
    line-height: 1;
    color: #aaaaaa;
    display: inline-block;
    margin-right: 10px;
    text-align: center;
    vertical-align: middle; }

.skill .name {
  margin: 0 0 4px;
  line-height: 1;
  font-family: inherit;
  font-weight: normal;
  font-size: 16px; }

.progress {
  margin-bottom: 10px; }

.skill-block {
  padding-left: 1em; }

/*=================== Portfolio ===========*/
.project-block, .exp-block {
  border: 1px solid #f1f1f1;
  background-color: white;
  margin-bottom: 20px;
  float: left; }
  .project-block img, .exp-block img {
    display: table-cell;
    vertical-align: middle;
    margin: auto; }
  .project-block h2, .project-block h3, .exp-block h2, .exp-block h3 {
    text-align: center;
    padding-top: 30px; }
    .project-block h2 a, .project-block h3 a, .exp-block h2 a, .exp-block h3 a {
      color: black; }
      .project-block h2 a:hover, .project-block h3 a:hover, .exp-block h2 a:hover, .exp-block h3 a:hover {
        color: #369400; }
  .project-block h4, .exp-block h4 {
    text-align: center; }
  .project-block p, .exp-block p {
    text-align: center; }

.project-meta-cat, .exp-meta-date, .exp-meta-cat {
  padding-right: 40px;
  padding-top: 10px;
  float: right;
  font-family: "Futura-Light", Futura-Medium Futura-Book, Futura-Bold, Arial, sans-serif;
  color: #999999; }
  .project-meta-cat a, .exp-meta-date a, .exp-meta-cat a {
    color: #666666;
    font-weight: normal; }
    .project-meta-cat a:hover, .exp-meta-date a:hover, .exp-meta-cat a:hover {
      text-decoration: none;
      font-weight: normal; }

.project-tags a {
  font-size: 14px;
  font-family: "Futura-Light", Futura-Medium Futura-Book, Futura-Bold, Arial, sans-serif;
  color: #999999; }
  .project-tags a:hover {
    text-decoration: none;
    font-weight: normal; }

.exp-meta-cat {
  padding-left: 40px;
  padding-right: 0;
  float: left; }

/*==========RESUME ===========*/
.exp-block {
  width: 100%; }

/*=============Form=========*/
form input[type="text"],
form input[type="url"],
form input[type="email"] {
  border: 1px solid #d7d7d7;
  height: 42px;
  -webkit-box-shadow: 0 0 5px #d7d7d7;
  box-shadow: 0 0 5px #d7d7d7;
  padding: 0.5em;
  width: 100%;
  color: #999999; }
  form input[type="text"]:hover, form input[type="text"]:focus,
  form input[type="url"]:hover,
  form input[type="url"]:focus,
  form input[type="email"]:hover,
  form input[type="email"]:focus {
    border-color: #bebebe; }
form textarea {
  display: block;
  border: 1px solid #d7d7d7;
  -webkit-box-shadow: 0 0 5px #d7d7d7;
  box-shadow: 0 0 5px #d7d7d7;
  padding: 0.5em;
  height: 150px;
  width: 100%; }

.contact-div {
  position: relative; }

.controls-row {
  display: block; }

.btn {
  border: 1px solid #d7d7d7;
  box-shadow: none;
  border-radius: 0;
  background-image: none;
  font-size: 13px;
  text-transform: uppercase;
  font-family: "Futura-Light", Futura-Medium Futura-Book, Futura-Bold, Arial, sans-serif; }

.btn-mini {
  padding: 0px 6px; }

.btn-small {
  padding: 2px 10px; }

.btn-large {
  padding: 11px 19px; }

/*============FOOTER================*/
footer {
  padding: 1em; }
  footer p {
    font-size: 12px; }
  footer a {
    font-size: 12px;
    float: right; }

/*==============Blog===============*/
.articles {
  padding-top: 3em;
  /*-webkit-box-shadow: inset 5px 5px 0px $bevel-color, inset -5px -5px 0px $bevel-color, 0px 0px 5px $border-color;
  box-shadow: inset 5px 5px 0px $bevel-color, inset -5px -5px 0px $bevel-color, 0px 0px 5px $border-color;
  */ }
  .articles article {
    padding: 0 3em; }
    .articles article .article-meta-categories {
      font-size: 12px;
      text-transform: uppercase;
      margin-bottom: 0; }
      .articles article .article-meta-categories a {
        color: #999999;
        font-weight: normal;
        height: 1em;
        line-height: 1em; }
    .articles article h1, .articles article h2 {
      text-align: left; }
    .articles article header h1 {
      margin-bottom: 0;
      line-height: 1em;
      text-align: left;
      font-size: 42px; }
    .articles article h1 a {
      color: #2b3039; }
      .articles article h1 a:hover {
        color: #369400; }
    .articles article .article-meta-extra {
      font-size: 14px;
      color: #999999;
      height: 21px;
      line-height: 21px; }
      .articles article .article-meta-extra a {
        font-weight: normal; }
    .articles article h1 + .article-meta-extra {
      height: 42px;
      line-height: 42px; }
    .articles article .article-meta-comments {
      font-size: 1em;
      color: #fff;
      text-align: center;
      line-height: 42px;
      float: right;
      width: 42px;
      height: 42px;
      background: #323232;
      -moz-border-radius: 21px;
      -webkit-border-radius: 21px;
      border-radius: 21px; }
      .articles article .article-meta-comments:hover {
        -webkit-transition: all 0.2s ease-in;
        -moz-transition: all 0.2s ease-in;
        -o-transition: all 0.2s ease-in;
        transition: all 0.2s ease-in;
        background: #f1f1f1;
        color: #000; }
    .articles article .article-preview-image {
      float: left;
      margin-right: 2em;
      margin-bottom: 1em; }
      .articles article .article-preview-image img {
        display: table-cell;
        vertical-align: middle;
        margin: auto;
        /*display: block;*/
        border: 1px solid #d7d7d7;
        -webkit-box-shadow: 0px 0px 5px #d7d7d7;
        box-shadow: 0px 0px 5px #d7d7d7; }
  .articles .post-format-quote {
    font-family: "icomoon";
    font-size: 1.4em;
    color: white;
    text-align: center;
    line-height: 42px;
    float: right;
    width: 42px;
    height: 42px;
    background: #323232;
    -moz-border-radius: 21px;
    -webkit-border-radius: 21px;
    border-radius: 21px; }
  .articles .quote-container {
    background: #fafafa;
    border: 1px solid #d7d7d7;
    -webkit-box-shadow: 0px 0px 5px #d7d7d7;
    box-shadow: 0px 0px 5px #d7d7d7;
    text-align: center;
    padding: 3em; }
    .articles .quote-container blockquote {
      font: 21px "Open Sans", Georgia, serif;
      color: #2b3039;
      background: transparent;
      padding: 0;
      margin: 0; }
    .articles .quote-container cite {
      margin-top: 1.5em;
      display: block; }
  .articles .post-format-url {
    font-family: "icomoon";
    font-size: 1.4em;
    color: white;
    text-align: center;
    line-height: 42px;
    float: right;
    width: 42px;
    height: 42px;
    background: #323232;
    -moz-border-radius: 21px;
    -webkit-border-radius: 21px;
    border-radius: 21px; }
  .articles .url-container {
    background: #fafafa;
    border: 1px solid #d7d7d7;
    -webkit-box-shadow: 0px 0px 5px #d7d7d7;
    box-shadow: 0px 0px 5px #d7d7d7;
    text-align: center;
    padding: 3em; }
    .articles .url-container p {
      font-size: 21px;
      color: #2b3039; }
    .articles .url-container span {
      margin-top: 1.5em;
      display: block;
      text-align: center;
      word-break: break-all; }
  .articles .articles-nav {
    padding: 0 3em;
    margin-top: -1.5em; }
    .articles .articles-nav .articles-nav-prev {
      float: left; }
    .articles .articles-nav .articles-nav-next {
      float: right; }
  .articles .article-full-image img {
    border: 1px solid #d7d7d7;
    -webkit-box-shadow: 0px 0px 5px #d7d7d7;
    box-shadow: 0px 0px 5px #d7d7d7;
    width: 100%;
    height: auto;
    margin-bottom: 1.5em; }
  .articles hr {
    margin: 3em 0; }

.aligncenter, .alignleft, .alignright, .alignnone {
  padding: 3px;
  background: white;
  border: 1px solid #d7d7d7;
  -webkit-box-shadow: 0px 0px 5px #d7d7d7;
  box-shadow: 0px 0px 5px #d7d7d7;
  margin: 1.5em 0; }

.aligncenter, img.centered {
  display: block;
  margin: 1.5em auto; }

.alignleft {
  float: left;
  margin: 1.5em 2em 1.5em 0; }

.alignright {
  float: right;
  margin: 1.5em 0 1.5em 2em; }

.wp-caption {
  text-align: center; }
  .wp-caption .wp-caption-text {
    margin-bottom: 0;
    font-size: 12px;
    font-family: 'Futura-Light-Italic';
    font-style: italic;
    line-height: 34px; }

.video-container + p {
  margin-top: 1.5em; }

.tag-container {
  border: 1px solid #e4e4e4;
  border-width: 1px 0;
  font-size: 12px;
  font-style: italic;
  line-height: 42px;
  color: #999999;
  margin-top: 3em; }

.post-navigation {
  text-align: center;
  font-size: 12px;
  line-height: 42px; }

/*=============COMMENTs=====================*/
.comments-area {
  margin-top: 3em; }

.article-add-comments {
  display: inline-block;
  float: right;
  background: transparent url("../images/comments-base-out.png") center center no-repeat;
  width: 42px;
  height: 46px;
  color: white;
  text-align: center;
  font-weight: bold;
  font-size: 16px;
  padding-top: 9px; }
  .article-add-comments:hover {
    background: transparent url("../images/comments-base-over.png") center center no-repeat; }

.commentslist {
  margin-top: 3em;
  counter-reset: comment-id; }
  .commentslist li ol, .commentslist li ul {
    padding-left: 3em;
    margin-left: 3em;
    border-left: 1px dotted #bebebe; }
  .commentslist li ol li, .commentslist li ul li {
    position: relative; }
    .commentslist li ol li::before, .commentslist li ul li::before {
      content: '';
      width: 1em;
      height: 1px;
      border-bottom: 1px dotted #bebebe;
      position: absolute;
      left: -2em;
      top: 2.5em; }
  .commentslist li article {
    background: white;
    border: 1px solid #d7d7d7;
    -webkit-box-shadow: 0px 0px 5px #d7d7d7;
    box-shadow: 0px 0px 5px #d7d7d7;
    padding: 1.5em 2em;
    margin-bottom: 1.5em; }
    .commentslist li article.by-admin {
      border-color: #bebebe; }
    .commentslist li article header {
      border-bottom: 1px solid #f1f1f1;
      font-size: 12px;
      margin-bottom: 1.5em;
      position: relative; }
      .commentslist li article header span {
        font-size: 12px;
        font-style: italic;
        color: #999999; }
      .commentslist li article header h5 {
        margin-bottom: 0; }
        .commentslist li article header h5 span {
          font-size: 10px;
          text-transform: uppercase;
          background: #2b3039;
          -webkit-border-radius: 5px;
          border-radius: 5px;
          -moz-background-clip: padding;
          -webkit-background-clip: padding-box;
          background-clip: padding-box;
          color: white;
          font-style: normal;
          font-weight: normal;
          line-height: 21px;
          height: 21px;
          display: inline-block;
          padding: 0 1em;
          margin-right: .5em; }
      .commentslist li article header::before {
        counter-increment: comment-id;
        content: counter(comment-id);
        position: absolute;
        right: 0;
        color: #b3b3b3;
        font-size: 46px;
        top: 8px; }

.comment-avatar img {
  float: right;
  margin: 0 0 1.5em 2em; }

.awaiting-moderation {
  font-style: italic;
  color: #999999; }

.comments-nav-section {
  margin: 3em 0; }

#comment-form p label {
  display: inline;
  font-size: 12px; }
#comment-form input[type="text"], #comment-form input[type="url"], #comment-form input[type="email"] {
  width: 50%;
  margin-right: 1em; }

/*===========SIDEBAR========*/
#search-form input[type="text"] {
  background: white url("../img/magnifier.png") 10px center no-repeat;
  padding: 0;
  width: 80%;
  padding-left: 40px; }

/*===================Responsive============*/
/* Smaller than 1200 (devices and browsers) */
@media only screen and (max-width: 1199px) {
  .main-sidebar {
    width: 270px;
    margin-left: 30px; }

  .article-container-fix {
    width: 640px; } }
/* Smaller than standard 960 (devices and browsers) */
/* Tablet Portrait size to standard 960 (devices and browsers) */
@media only screen and (min-width: 768px) and (max-width: 959px) {
  .main-sidebar,
  .top-menu-navigation,
  .skill-list {
    display: none; }

  .article-container-fix {
    width: 724px; }

  #rwd-top-nav-btn,
  #rwd-main-nav-btn {
    display: inline-block;
    margin: 1em 0; } }
/* All Mobile Sizes (devices and browser) */
@media only screen and (max-width: 767px) {
  .main-sidebar,
  .top-menu-navigation,
  .main-navigation,
  .top-ad,
  .logo {
    display: none; }

  #nav-brand {
    -webkit-transition: all 0.2s ease-in;
    -moz-transition: all 0.2s ease-in;
    -o-transition: all 0.2s ease-in;
    transition: all 0.2s ease-in;
    height: 55px; }
    #nav-brand img {
      float: left; }

  .article-container-fix {
    width: 724px; }

  #rwd-top-nav-btn,
  #rwd-main-nav-btn {
    display: inline-block;
    margin: 1em 0; }

  .container {
    padding: 0 2em; }

  .article-container-fix {
    width: 100%; } }
/* Mobile Landscape Size to Tablet Portrait (devices and browsers) */
/* Mobile Portrait Size to Mobile Landscape Size (devices and browsers) */
@media only screen and (max-width: 479px) {
  .articles article header h1 {
    line-height: 1.5em; }

  .articles article header .article-meta-extra {
    width: 70%;
    height: auto;
    line-height: 21px; }

  .articles article .article-preview-image,
  .articles article .article-full-image {
    display: none; }

  .alignleft,
  .alignright,
  .alignnone {
    float: none;
    margin: 1.5em 0; }

  p + .alignleft,
  p + .alignright,
  p + .alignnonebr + .alignleft,
  br + .alignright,
  br + .alignnone {
    margin-top: 0; }

  .commentslist li article header::before {
    content: ''; } }
